################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AA_Tech_Test/.vs/AA_Tech_Test/v15
/AA_Tech_Test/bin/Debug
/AA_Tech_Test/obj/Debug
/AA_Tech_Test/packages
/UnitTestProject1/obj/Debug
*.user
/UnitTestProject1/bin/Debug
/AA_Tech_Test/bin/Release
/UnitTestProject1/bin/Release
/UnitTestProject1/obj/Release
/AA_Tech_Test/obj/Release
